@media screen and (max-width: 924px) {
	.aside {
		height: 302%;
		transition: 0.4s all;
		position: absolute;
		left: -50%;
		opacity: 0;
		pointer-events: none;
		background: #0d0d0d;
		box-shadow: 9px 0px 15px rgba(0, 0, 0, 0.3), inset -10px 0px 5px rgba(5, 5, 5, 0.35);
		&-main {
			&-intro {
				display: flex;
				align-items: center;
				border-bottom: 2px solid #1c1c1c;
				img {
					max-width: 35%;
				}
				&__logo {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					text-align: left;
					h2 {
						font-size: 15px;
					}
					p {
						font-family: "Roboto";
						font-style: normal;
						font-weight: 300;
						font-size: 12px;
						line-height: 14px;
						/* identical to box height */

						text-align: center;

						color: #dedede;
					}
				}
				&__networks {
					display: none;
				}
				&__nav {
					display: block;
				}
			}
			&__description {
				display: none;
			}
		}
	}
	.active {
		left: 0;
		opacity: 1;
		pointer-events: all;
	}
}
